<mat-toolbar class="header">
  <div class="header-logo">
    <span class="logo-dot"></span>
    <div>
      <span class="logo-title">Rick & Morty Explorer</span>
      <span class="logo-sub">826 personagens pelo multiverso</span>
    </div>
  </div>

  <div class="header-nav">
    <button mat-button routerLink="/personagens" routerLinkActive="active-link">Personagens</button>
    <button mat-button routerLink="/locais" routerLinkActive="active-link">Locais</button>
    <button mat-button routerLink="/sobre" routerLinkActive="active-link">Sobre</button>
  </div>
</mat-toolbar>
